<h1>Listing economia1s</h1>

<table>
  <tr>
    <th>Fecha hora</th>
    <th>Whtot</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @economia1s.each do |economia1| %>
  <tr>
    <td><%= economia1.Fecha_hora %></td>
    <td><%= economia1.WhTot %></td>
    <td><%= link_to 'Show', economia1 %></td>
    <td><%= link_to 'Edit', edit_economia1_path(economia1) %></td>
    <td><%= link_to 'Destroy', economia1, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Economia1', new_economia1_path %>
