<p id="notice"><%= notice %></p>

<p>
  <b>Fecha hora:</b>
  <%= @economia1.Fecha_hora %>
</p>

<p>
  <b>Whtot:</b>
  <%= @economia1.WhTot %>
</p>


<%= link_to 'Edit', edit_economia1_path(@economia1) %> |
<%= link_to 'Back', economia1s_path %>
