<p id="notice"><%= notice %></p>

<p>
  <b>Fecha hora:</b>
  <%= @agronomiaquimica.Fecha_hora %>
</p>

<p>
  <b>Whtot:</b>
  <%= @agronomiaquimica.WhTot %>
</p>


<%= link_to 'Edit', edit_agronomiaquimica_path(@agronomiaquimica) %> |
<%= link_to 'Back', agronomiaquimicas_path %>
