<h1>Listing auditoriummarmols</h1>

<table>
  <tr>
    <th>Fecha hora</th>
    <th>Whtot</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @auditoriummarmols.each do |auditoriummarmol| %>
  <tr>
    <td><%= auditoriummarmol.Fecha_hora %></td>
    <td><%= auditoriummarmol.WhTot %></td>
    <td><%= link_to 'Show', auditoriummarmol %></td>
    <td><%= link_to 'Edit', edit_auditoriummarmol_path(auditoriummarmol) %></td>
    <td><%= link_to 'Destroy', auditoriummarmol, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Auditoriummarmol', new_auditoriummarmol_path %>
