<p id="notice"><%= notice %></p>

<p>
  <b>Fecha hora:</b>
  <%= @auditoriummarmol.Fecha_hora %>
</p>

<p>
  <b>Whtot:</b>
  <%= @auditoriummarmol.WhTot %>
</p>


<%= link_to 'Edit', edit_auditoriummarmol_path(@auditoriummarmol) %> |
<%= link_to 'Back', auditoriummarmols_path %>
