<p id="notice"><%= notice %></p>

<p>
  <b>Fecha hora:</b>
  <%= @humanidades3.Fecha_hora %>
</p>

<p>
  <b>Whtot:</b>
  <%= @humanidades3.WhTot %>
</p>


<%= link_to 'Edit', edit_humanidades3_path(@humanidades3) %> |
<%= link_to 'Back', humanidades3s_path %>
