<h1>Listing odontologia2s</h1>

<table>
  <tr>
    <th>Fecha hora</th>
    <th>Whtot</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @odontologia2s.each do |odontologia2| %>
  <tr>
    <td><%= odontologia2.Fecha_hora %></td>
    <td><%= odontologia2.WhTot %></td>
    <td><%= link_to 'Show', odontologia2 %></td>
    <td><%= link_to 'Edit', edit_odontologia2_path(odontologia2) %></td>
    <td><%= link_to 'Destroy', odontologia2, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Odontologia2', new_odontologia2_path %>
