<h1>Listing comedorues</h1>

<table>
  <tr>
    <th>Fecha hora</th>
    <th>Whtot</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comedorues.each do |comedorue| %>
  <tr>
    <td><%= comedorue.Fecha_hora %></td>
    <td><%= comedorue.WhTot %></td>
    <td><%= link_to 'Show', comedorue %></td>
    <td><%= link_to 'Edit', edit_comedorue_path(comedorue) %></td>
    <td><%= link_to 'Destroy', comedorue, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comedorue', new_comedorue_path %>
