<p id="notice"><%= notice %></p>

<p>
  <b>Fecha hora:</b>
  <%= @comedorue.Fecha_hora %>
</p>

<p>
  <b>Whtot:</b>
  <%= @comedorue.WhTot %>
</p>


<%= link_to 'Edit', edit_comedorue_path(@comedorue) %> |
<%= link_to 'Back', comedorues_path %>
