<%= form_for(@odontologia1) do |f| %>
  <% if @odontologia1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@odontologia1.errors.count, "error") %> prohibited this odontologia1 from being saved:</h2>

      <ul>
      <% @odontologia1.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Fecha_hora %><br />
    <%= f.datetime_select :Fecha_hora %>
  </div>
  <div class="field">
    <%= f.label :WhTot %><br />
    <%= f.number_field :WhTot %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
