<h1>Listing odontologia1s</h1>

<table>
  <tr>
    <th>Fecha hora</th>
    <th>Whtot</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @odontologia1s.each do |odontologia1| %>
  <tr>
    <td><%= odontologia1.Fecha_hora %></td>
    <td><%= odontologia1.WhTot %></td>
    <td><%= link_to 'Show', odontologia1 %></td>
    <td><%= link_to 'Edit', edit_odontologia1_path(odontologia1) %></td>
    <td><%= link_to 'Destroy', odontologia1, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Odontologia1', new_odontologia1_path %>
