<p id="notice"><%= notice %></p>

<p>
  <b>Fecha hora:</b>
  <%= @economia3.Fecha_hora %>
</p>

<p>
  <b>Whtot:</b>
  <%= @economia3.WhTot %>
</p>


<%= link_to 'Edit', edit_economia3_path(@economia3) %> |
<%= link_to 'Back', economia3s_path %>
