<h1>Listing agronomiadecanatos</h1>

<table>
  <tr>
    <th>Fecha hora</th>
    <th>Whtot</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agronomiadecanatos.each do |agronomiadecanato| %>
  <tr>
    <td><%= agronomiadecanato.Fecha_hora %></td>
    <td><%= agronomiadecanato.WhTot %></td>
    <td><%= link_to 'Show', agronomiadecanato %></td>
    <td><%= link_to 'Edit', edit_agronomiadecanato_path(agronomiadecanato) %></td>
    <td><%= link_to 'Destroy', agronomiadecanato, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Agronomiadecanato', new_agronomiadecanato_path %>
