<p id="notice"><%= notice %></p>

<p>
  <b>Fecha hora:</b>
  <%= @agronomiadecanato.Fecha_hora %>
</p>

<p>
  <b>Whtot:</b>
  <%= @agronomiadecanato.WhTot %>
</p>


<%= link_to 'Edit', edit_agronomiadecanato_path(@agronomiadecanato) %> |
<%= link_to 'Back', agronomiadecanatos_path %>
