<h1>Listing periodismos</h1>

<table>
  <tr>
    <th>Fecha hora</th>
    <th>Whtot</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @periodismos.each do |periodismo| %>
  <tr>
    <td><%= periodismo.Fecha_hora %></td>
    <td><%= periodismo.WhTot %></td>
    <td><%= link_to 'Show', periodismo %></td>
    <td><%= link_to 'Edit', edit_periodismo_path(periodismo) %></td>
    <td><%= link_to 'Destroy', periodismo, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Periodismo', new_periodismo_path %>
