<p id="notice"><%= notice %></p>

<p>
  <b>Fecha hora:</b>
  <%= @periodismo.Fecha_hora %>
</p>

<p>
  <b>Whtot:</b>
  <%= @periodismo.WhTot %>
</p>


<%= link_to 'Edit', edit_periodismo_path(@periodismo) %> |
<%= link_to 'Back', periodismos_path %>
