<p id="notice"><%= notice %></p>

<p>
  <b>Fecha hora:</b>
  <%= @agronomium.Fecha_hora %>
</p>

<p>
  <b>Whtot:</b>
  <%= @agronomium.WhTot %>
</p>


<%= link_to 'Edit', edit_agronomium_path(@agronomium) %> |
<%= link_to 'Back', agronomia_path %>
