<h1>Listing economia2s</h1>

<table>
  <tr>
    <th>Fecha hora</th>
    <th>Whtot</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @economia2s.each do |economia2| %>
  <tr>
    <td><%= economia2.Fecha_hora %></td>
    <td><%= economia2.WhTot %></td>
    <td><%= link_to 'Show', economia2 %></td>
    <td><%= link_to 'Edit', edit_economia2_path(economia2) %></td>
    <td><%= link_to 'Destroy', economia2, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Economia2', new_economia2_path %>
