<h1>Listing humanidades1s</h1>

<table>
  <tr>
    <th>Fecha hora</th>
    <th>Whtot</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @humanidades1s.each do |humanidades1| %>
  <tr>
    <td><%= humanidades1.Fecha_hora %></td>
    <td><%= humanidades1.WhTot %></td>
    <td><%= link_to 'Show', humanidades1 %></td>
    <td><%= link_to 'Edit', edit_humanidades1_path(humanidades1) %></td>
    <td><%= link_to 'Destroy', humanidades1, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Humanidades1', new_humanidades1_path %>
