<h1>Listing humanidades2s</h1>

<table>
  <tr>
    <th>Fecha hora</th>
    <th>Whtot</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @humanidades2s.each do |humanidades2| %>
  <tr>
    <td><%= humanidades2.Fecha_hora %></td>
    <td><%= humanidades2.WhTot %></td>
    <td><%= link_to 'Show', humanidades2 %></td>
    <td><%= link_to 'Edit', edit_humanidades2_path(humanidades2) %></td>
    <td><%= link_to 'Destroy', humanidades2, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Humanidades2', new_humanidades2_path %>
