<h1>Listing mecanicacomplejos</h1>

<table>
  <tr>
    <th>Fecha hora</th>
    <th>Whtot</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mecanicacomplejos.each do |mecanicacomplejo| %>
  <tr>
    <td><%= mecanicacomplejo.Fecha_hora %></td>
    <td><%= mecanicacomplejo.WhTot %></td>
    <td><%= link_to 'Show', mecanicacomplejo %></td>
    <td><%= link_to 'Edit', edit_mecanicacomplejo_path(mecanicacomplejo) %></td>
    <td><%= link_to 'Destroy', mecanicacomplejo, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mecanicacomplejo', new_mecanicacomplejo_path %>
