<p id="notice"><%= notice %></p>

<p>
  <b>Fecha hora:</b>
  <%= @mecanicacomplejo.Fecha_hora %>
</p>

<p>
  <b>Whtot:</b>
  <%= @mecanicacomplejo.WhTot %>
</p>


<%= link_to 'Edit', edit_mecanicacomplejo_path(@mecanicacomplejo) %> |
<%= link_to 'Back', mecanicacomplejos_path %>
