<h1>Listing medicinas</h1>

<table>
  <tr>
    <th>Fecha hora</th>
    <th>Whtot</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @medicinas.each do |medicina| %>
  <tr>
    <td><%= medicina.Fecha_hora %></td>
    <td><%= medicina.WhTot %></td>
    <td><%= link_to 'Show', medicina %></td>
    <td><%= link_to 'Edit', edit_medicina_path(medicina) %></td>
    <td><%= link_to 'Destroy', medicina, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Medicina', new_medicina_path %>
