<p id="notice"><%= notice %></p>

<p>
  <b>Fecha hora:</b>
  <%= @medicina.Fecha_hora %>
</p>

<p>
  <b>Whtot:</b>
  <%= @medicina.WhTot %>
</p>


<%= link_to 'Edit', edit_medicina_path(@medicina) %> |
<%= link_to 'Back', medicinas_path %>
