<h1>Listing odontologiaimprenta</h1>

<table>
  <tr>
    <th>Fecha hora</th>
    <th>Whtot</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @odontologiaimprenta.each do |odontologiaimprentum| %>
  <tr>
    <td><%= odontologiaimprentum.Fecha_hora %></td>
    <td><%= odontologiaimprentum.WhTot %></td>
    <td><%= link_to 'Show', odontologiaimprentum %></td>
    <td><%= link_to 'Edit', edit_odontologiaimprentum_path(odontologiaimprentum) %></td>
    <td><%= link_to 'Destroy', odontologiaimprentum, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Odontologiaimprentum', new_odontologiaimprentum_path %>
