<p id="notice"><%= notice %></p>

<p>
  <b>Fecha hora:</b>
  <%= @odontologiaimprentum.Fecha_hora %>
</p>

<p>
  <b>Whtot:</b>
  <%= @odontologiaimprentum.WhTot %>
</p>


<%= link_to 'Edit', edit_odontologiaimprentum_path(@odontologiaimprentum) %> |
<%= link_to 'Back', odontologiaimprenta_path %>
