<p id="notice"><%= notice %></p>

<p>
  <b>Fecha hora:</b>
  <%= @economia6.Fecha_hora %>
</p>

<p>
  <b>Whtot:</b>
  <%= @economia6.WhTot %>
</p>


<%= link_to 'Edit', edit_economia6_path(@economia6) %> |
<%= link_to 'Back', economia6s_path %>
