<p id="notice"><%= notice %></p>

<p>
  <b>Fecha hora:</b>
  <%= @cafetine.Fecha_hora %>
</p>

<p>
  <b>Whtot:</b>
  <%= @cafetine.WhTot %>
</p>


<%= link_to 'Edit', edit_cafetine_path(@cafetine) %> |
<%= link_to 'Back', cafetines_path %>
