<h1>Listing artes</h1>

<table>
  <tr>
    <th>Fecha hora</th>
    <th>Whtot</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @artes.each do |arte| %>
  <tr>
    <td><%= arte.Fecha_hora %></td>
    <td><%= arte.WhTot %></td>
    <td><%= link_to 'Show', arte %></td>
    <td><%= link_to 'Edit', edit_arte_path(arte) %></td>
    <td><%= link_to 'Destroy', arte, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Arte', new_arte_path %>
