<p id="notice"><%= notice %></p>

<p>
  <b>Fecha hora:</b>
  <%= @arte.Fecha_hora %>
</p>

<p>
  <b>Whtot:</b>
  <%= @arte.WhTot %>
</p>


<%= link_to 'Edit', edit_arte_path(@arte) %> |
<%= link_to 'Back', artes_path %>
