<h1>Listing agronomiagaleras</h1>

<table>
  <tr>
    <th>Fecha hora</th>
    <th>Whtot</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agronomiagaleras.each do |agronomiagalera| %>
  <tr>
    <td><%= agronomiagalera.Fecha_hora %></td>
    <td><%= agronomiagalera.WhTot %></td>
    <td><%= link_to 'Show', agronomiagalera %></td>
    <td><%= link_to 'Edit', edit_agronomiagalera_path(agronomiagalera) %></td>
    <td><%= link_to 'Destroy', agronomiagalera, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Agronomiagalera', new_agronomiagalera_path %>
