<p id="notice"><%= notice %></p>

<p>
  <b>Fecha hora:</b>
  <%= @agronomiagalera.Fecha_hora %>
</p>

<p>
  <b>Whtot:</b>
  <%= @agronomiagalera.WhTot %>
</p>


<%= link_to 'Edit', edit_agronomiagalera_path(@agronomiagalera) %> |
<%= link_to 'Back', agronomiagaleras_path %>
