<h1>Listing economia4s</h1>

<table>
  <tr>
    <th>Fecha hora</th>
    <th>Whtot</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @economia4s.each do |economia4| %>
  <tr>
    <td><%= economia4.Fecha_hora %></td>
    <td><%= economia4.WhTot %></td>
    <td><%= link_to 'Show', economia4 %></td>
    <td><%= link_to 'Edit', edit_economia4_path(economia4) %></td>
    <td><%= link_to 'Destroy', economia4, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Economia4', new_economia4_path %>
