<p id="notice"><%= notice %></p>

<p>
  <b>Fecha hora:</b>
  <%= @economia4.Fecha_hora %>
</p>

<p>
  <b>Whtot:</b>
  <%= @economia4.WhTot %>
</p>


<%= link_to 'Edit', edit_economia4_path(@economia4) %> |
<%= link_to 'Back', economia4s_path %>
